<%= form_with(model: panel) do |form| %>
  <% if panel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

      <ul>
        <% panel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
