<div class="vertical-tabs-panel">

	<div class="panel-header">
		<timer-tab></timer-tab>
	</div>

	<div class="panel-body container">
		<div class="tab-content">
			<tab-match-settings class="custom-tab active"></tab-match-settings>
			<tab-content-2 class="custom-tab"></tab-content-2>
			<tab-content-3 class="custom-tab"></tab-content-3>
			<tab-content-4 class="custom-tab"></tab-content-4>
		</div>

		<div class="tabs">
			<h3 class="active">Match Settings</h3> <!--TODO In the tab the text is to big to stay in the center--->
			<h3>Tab 2</h3>
			<h3>Tab 3</h3>
			<h3>Tab 4</h3>
		</div>
	</div>

</div>