<sp-theme
  theme="spectrum"
  color="dark"
  scale="medium"
  style="background-color: var(--spectrum-gray-100)"
>
  <h1>Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>

  <h2>Hello <%= @name %></h2>
</sp-theme>