<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<sp-theme
    theme="spectrum"
    color="light"
    scale="medium"
    style="background-color: var(--spectrum-gray-100)"
>
  <h2>Hello <%= @name %></h2>
</sp-theme>